*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(44, 43, 43);
    opacity: 0.9;
}
#image{
    border: 2px solid #fff;
    background-image: url(../images/My_img.jpeg);
    height: 100%;
    width: 100%;
    background-size: fill;
    background-repeat: no-repeat;
    background-position: bottom right;
}
